@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@300&display=swap');
html{
  scroll-behavior:auto;
}
#intro-section {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 15%;
  font-family: "Gabriela", serif;
  padding-bottom: 3%;
  font-weight: 500;
}

.D-logo {
  padding-bottom: 3%;
}

.mouse-icon {
  padding-top: 4%;
}

#about-section {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: 400;
}

#services-section {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Copse", serif;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 5%;
  padding-bottom: 5%;
}

#what-we-do-section{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.heading2{
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

#contacts{
  color: white;
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
}
.form-control{
  background-color: transparent;
  color: aliceblue;
}

.form-control::placeholder {
  color: white;
  font-size: 1.0em;
}

.submit{
  padding-top: 20px;
}

footer{
  display: flex;
  align-items:center;
  padding-top:2%;
  text-align: center;
}

.design-icon-hide{
  display: none;
}